{% extends  'base.html' %}
{% load static %}

{% block content %}

 <!-- Home section -->

 <div class="home_section">
    <div class="items d-flex justify-content-center">
        <div class="text_section j" style="margin-top: 200px; margin-right: 100px; text-align: center;">
            <h2 style="font-size: 36px; color: #ff6347;">Welcome To The World Of <br> Tasty and Fresh Food</h2>
        </div>
        <div class="image_section">
            <img src="{% static 'image/burger.png' %}" alt="" style="height: 600px; margin-left: 100px;">
        </div>
    </div>
</div>


{% endblock %}